* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: var(--primary);
    height: 100vh;
}

.main .container,
.main .container .dashboard,
.main .container .dashboard .description,
.main .container .dashboard .card {
    display: flex;
    flex-direction: column;
}

.main .container {
    Padding: 2rem;
}

.main .container .dashboard {
    gap: 1rem;
}

.main .container .dashboard .description {
    gap: 4px;

}

.description .verification,
.description .choosefor {
    font-family: var(--fontfamily);
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--fontcolor);
}

.description .choosefor {
    font-weight: 400;
    color: var(--dimcolor);
}

.main .container .dashboard .card {
    gap: 20px;
    align-items: center;

}
.main .container .dashboard .card .card_body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 76%;
   
}

.main .container .dashboard .card .card_body .card_item,
.main .container .dashboard .card .card_item .card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card_body .card_item {
    width: 29%;
    height: 25vh;
    background: var(--secondary);
    border-radius: 8px;
    flex-flow: row wrap;
}

.card_body .card_item:hover {
    background: var(--hovercolor);

}

.card_body .card_item .card_content .icon {
    font-size: 2rem;

}

.card_item .card_content .name {
    font-size: 1.2rem;

}

.card_body .card_item .card_content .name,
.card_content .icon {
    font-family: var(--fontfamily);
    font-style: normal;
    font-weight: 400;
    color: var(--textcolor);
    cursor: pointer;
}