@import url('.././var/var.css');

.navbar,
.navbar .navitem ul,
.navbar .user_menu {
    display: flex;
    justify-content: space-between;
}
.iconss{
    display: none;
}

.navbar {
    width: 100%;
    background-color: var(--primary);
    position: fixed;
    padding: 1.1%;
    align-items: center;
    box-shadow: 0px 1px 5px 1px black;
}

.navbar .navitem {
    width: 50%;
}

.navbar .logo h1 {
    color: #2C3A64;
}

.navbar .navitem ul {
    list-style: none;
}
.navbar .navitem ul li a,.admin a {
    text-decoration: none;
    font-family: var(--fontfamily);
    font-size: 20px;
    font-style: normal;
}

.navbar .navitem ul li a {
    color: var(--fontcolor);
    font-weight: 400;
    line-height: 30px;


}

.navbar .navitem ul li a:hover {
    color: var(--dimcolor);
}

.navbar .user_menu {
    width: 14%;
    align-items: center;

}

.navbar .user_menu .user {
    display: flex;
    flex-direction: column;
    gap: 0;

}

.user_menu .user .image_user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.user_menu .user .image_user .image {
    width: 25px;
    height: 25px;
  
}

.user_menu .user .image_user .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.admin a {
    color: #2C3A64;
    font-weight: 600;

}