@import url('../../var/var.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main {
    background-color: var(--primary);
    height: 100vh;
 
}

/* .main .container,
.main .container .dashboard,
.main .container .dashboard .description {
    
} */
.main .container {
    padding: 6.2% 1% 0 6% ;
    display: flex;
    flex-direction: column;
}

.main .container .dashboard {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.main .container .dashboard .description {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.description .verification,
.description .choosefor {
    font-family: var(--fontfamily);
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--fontcolor);
}

.description .choosefor {
    font-weight: 400;
    color: var(--dimcolor);
}

.main .container .dashboard .card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;


}
.main .container .dashboard .card .card_body {
    display: flex;
    flex-flow: row wrap;
    gap: 2vh;



   
}

.main .container .dashboard .card .card_body .card_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;


}
.main .container .dashboard .card .card_item .card_content{
   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
}
.card_body .card_item {
   
    height: 25vh;
    background: var(--secondary);
    border-radius: 8px;
    flex-flow: row wrap;
    display: flex;
    flex-direction: column;
}

.card_body .card_item:hover {
    background: var(--hovercolor);

}

.card_body .card_item .card_content .icon {
    font-size: 2rem;

}

.card_item .card_content .name {
    font-size: 1.2rem;

}

.card_body .card_item .card_content .name,
.card_content .icon {
    font-family: var(--fontfamily);
    font-style: normal;
    font-weight: 400;
    color: var(--textcolor);
    cursor: pointer;
}