.dropdown,
.dropdown:hover .dropdown-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 13rem;
     margin-top: -30px; 

}

.dropdown:hover .dropdown-menu li {
    background: #2C3A64;
    list-style: none;
    border: 2px solid black;
    padding: 5% 0 5% 5%;
    border-radius: 4px;

}

.dropdown:hover .dropdown-menu li a {
    text-decoration: none;
    color: white;
}