@import url('../var/var.css');
.container .child_card,.card_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}
.cards{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding:1% ;
}
.card_items{
    background: var(--secondary);
    height:20vh;
    border-radius: 1%;
    cursor: pointer;

} 
.card_items:hover{
    background: var(--hovercolor);
  
}
.card_items .icon,.card_items .name{
    color:var(--textcolor);
}