.Admin_Main {
    align-items: center;
    width: 100%;
    background-color: rgb(211, 231, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Admin_Main .AllContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 6px 15px rgba(0, 0, 0, .3);
    width: 27%;
    align-items: center;
    border-radius: 2%;
    padding: 0.7%;

}

.Admin_Main .AllContainer .admin_body {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Admin_Main .AllContainer .admin_body .user {
    display: flex;
    justify-content: space-between;
    gap: 30%;
}

.Admin_Main .AllContainer .admin_body .admin_profile {
    display: flex;
    width: 20px;

}

.userdescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.admin_profile .user .userdescription .userimage {
    width: 130px;
    height: 130px;
    border: 2PX SOLID white;
    border-radius: 50%;

}

.admin_profile .user .userdescription .userimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.admin_profile .user .userdescription .userimage span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.Admin_Main .AllContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.Admin_Main .AllContainer .admin_body form .input_body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Admin_Main .AllContainer .admin_body form .input_body .inputsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}


.Admin_Main .AllContainer .admin_body .inputsection label {
    color: #554c4c;
    padding-left: 1%;
    width: 345px;

}

.Admin_Main .AllContainer .admin_body form .inputsection input {
    height: 25px;
    background: #FFFFFF;
    stroke: none;
    background: white;
    border: 4px solid white;
    stroke: none;
    outline: none;
    font-size: 1rem;
}

.Admin_Main .AllContainer .admin_body form .inputsection.inputsection p {
    text-decoration: dotted;
    color: red;
}

.Admin_Main .AllContainer .admin_body form .buttonportation {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.buttonportation .Set_Password button,
.buttonportation .Reset button {
    background: #2C3A64;
    border-radius: 4px;
    height: 5vh;
    width: 345px;
    color: white;

}

.copyright {
    width: 100%;
    color: #4E4E4E;
    align-items: center;
    display: flex;
    justify-content: center;


}